.blue {
  background-color: #3897f0;
}
.sm {
  size: 10px;
}
.md {
  size: 20px;
}
.lg {
  size: 30px;
}
.green {
  background-color: green;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}

.btn {
  margin: 1rem 0 1.5rem;
  height: 3rem;
  width: 50%;

  font-size: 1.4rem;
  font-weight: 900;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}
